/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
---------後面會覆蓋前面---------
*/
.header,.type1,.type3{
	padding-left: 360px;
}
.line1{
	height: 2px;
	width: 1200px;
	border-bottom:2px solid black ;
	margin-top: 24px;
	margin-bottom: 48px;

}
.line2{
	height: 1px;
	width: 1200px;
	border-bottom:1px solid black ;
	margin-top: 8px;
	margin-bottom: 16px;

}
.line3{
	height: 1px;
	width: 996px;
	border-bottom:1px solid white;
	margin-top: 5px;
	margin-left: 360px;
	margin-bottom: 5px;
}
.line4{
	height: 1px;
	width: 996px;
	border-bottom:1px solid white;
	display: flex;
	align-items: center;
}
.footer .line3{
	width: 1200px;
}
h1{
	font-size: 80px;
	margin-top: 40px;
	width: 274px;
	
}
.middle{
	display: block;
}
.type1{
	display: flex;
	flex-direction: column;

}
.type2{
	background-color: #415165;
}
.head{
	display: flex;
	flex-direction: row;
	margin-top: 48px;
}
.content{
	display: flex;
	flex-direction: column;
}
h2{
	
	font-weight: bold;
	margin-right: 16px;
	font-size: 32px;
}
h3{
	align-items:flex-start;
	font-weight: bold;
	color:#A00404;
	font-size: 24px;
}
.type2 {
	color: white;
}
.type2 h2{
	margin-top: 24px;
}
.type2 h3{
	margin-top: 30px;
	color: white;
}
.type2 .head{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.box{
	display: block;
}
.type2 .content{
	margin-left: 860px;
	margin-top:20px;
	margin-bottom: 10px;
	
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	border-left: 1px solid white;
}
p{
	font-size: 24px;
	padding-bottom: 24px;
	line-height: 1.5;
}
.type2 p{
	width: 200px;
	font-size: 24px;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 16px;
}
.type3 .content{
	width: 642px;
	margin-left: 24px;
	border-left: 1px solid #415165;
}

.type3 p{
	
	font-weight: bold;
	margin-left: 24px;
}
.p2 p{
	font-weight:normal;
	font-size: 20px;
}
.footer{
	display: block;
	background-color: #415165;
	color: white;
	
}
.type4 .head{
	padding-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.type4 h3{
	color: white;
}
.type4 .content{
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.type4 p{
	padding-top: 4px;
	padding-bottom: 6px;
}	
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: aqua;
}
.content img{
	height: 100px;
	width: 100px;
	margin-left: 24px;
}
.img{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.img img{
	padding: 12px;
}
